<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new posts</title>
</head>
<body>
    <form method= "posts" action="/posts">
        <input placeholder="enter username" name = " username" />
        <textarea placeholder="Write your content" name = "content" ></textarea>
        <button>Summit Post</button>

    </form>
    
</body>
</html>